.main{
    padding: 16px;
}
.btnColor{
    background-color: azure;
    color: black;
    margin-bottom: 5px;
    border-radius: 10px;
}
.inputField{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background-color: aliceblue;
    border-radius: 10px;
}
.header{
    color: black;
    font-weight: bolder;
    font-size: medium;
}
.d-flex{
    border-radius: 5px;
    background-color: aliceblue;
}