.btn{
    margin: 10px;
    background-color:black;
  border-color: red;
    color:yellow;
    border-radius: 15px;
}
#id{
    min-width: 50px;
}
.createtask{
    margin: 10px;
    background-color: lightblue;
  border-color:  black;
    color:black;
    border-radius: 15px;   
}
.canceltask{
    margin: 10px;
    background-color:red;
  border-color:  black;
    color:black;
    border-radius: 15px;
    
}
.modalfield{
   
}
  