.searchbar, .priority-select, .btnbackground, .radio{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color:grey;
    background-color: darkgrey;
  }


.gradient-header{
    background-color:coral
}
  

/* Container for the blurred background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    display: none; 
    z-index: 999; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal-overlay.show {
    display: block;
    opacity: 1;
  }
  
 
  