.calendar_div{
    display: flex;
    flex-direction: row;
}
img{
   min-width:40%;
    padding:16px;
    background-size: cover;
}
.calendar{
    min-width:50%;
    padding: 16px;
    border-radius:20px;
    background-size: cover;
    overflow: scroll;
}
.react-datepicker__header{
    background-color:bisque
}.react-datepicker__day--selected{
    border-radius: 50%;
}@media  (width<992px){
    img{
        display:none;
    }
}
