<<<<<<< HEAD
.react-datepicker__month{
    background-color: #a0a0a0;
}
.react-datepicker__month-container{
    background-color: #a0a0a0;
    min-height: 300px;
}
.react-datepicker__header{
    background-color: #ff6b00;
}.react-datepicker__day react-datepicker__day--028 react-datepicker__day--selected react-datepicker__day--today{
    background-color: #ff6b00;
}.im{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 5px;
    background:transparent;
}
img{
    overflow: hidden;
}
=======
.calendar_div{
    display: flex;
    flex-direction: row;
}
img{
   min-width:40%;
    padding:16px;
    background-size: cover;
}
.calendar{
    min-width:50%;
    padding: 16px;
    border-radius:20px;
    background-size: cover;
    overflow:scroll;
}
.react-datepicker__header{
    background-color:bisque
}
>>>>>>> 667b70eb8ee5d7ccf95cfd9eb9bb8ac72618627c
