.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    background-color: bisque;
}

.card-icon{
    display: flex;
   gap: 8px;
   margin-top: 70px;
   margin-left: 550px;
}


  