
.row-1{
 min-height: 300px;
}

.row-2{
 min-height: 300px;
}

.card-box{
  min-height: 300px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.22);
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}
